<a href="https://colab.research.google.com/github/d11541df/d11541df/blob/yongjin/Complaint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys


print(sys.version)

3.7.15 (default, Oct 12 2022, 19:14:55)
[GCC 7.5.0]

In [2]:
%%bash
apt-get update
apt-get install g++ openjdk-8-jdk python-dev python3-dev
pip3 install JPype1
pip3 install konlpy

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 261 kB in 3s (103 kB/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
python-dev is already the newest version (2.7.15~rc1-1).
g++ is already the newest version (4:7.4.0-1ubuntu2.3).
python3-dev is already the newest version (3.6.7-1~18.04).
openjdk-8-jdk is already the newest version (8u342-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 27 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: JPype1 in /usr/local/lib/python3.7/dist-packages (1.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1) (4.1.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.4.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)

In [3]:
%env JAVA_HOME "/usr/lib/jvm/java-8-openjdk-amd64"

env: JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"

In [4]:
%%bash
bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)
pip3 install /tmp/mecab-python-0.996

mecab-ko is already installed
mecab-ko-dic is already installed
mecab-python is already installed
Done.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Processing /tmp/mecab-python-0.996
Building wheels for collected packages: mecab-python
  Building wheel for mecab-python (setup.py): started
  Building wheel for mecab-python (setup.py): finished with status 'done'
  Created wheel for mecab-python: filename=mecab_python-0.996_ko_0.9.2-cp37-cp37m-linux_x86_64.whl size=141799 sha256=3e66c2c14123882a34c2267eb886889380a8fc5daba5539821d2327fcc49a186
  Stored in directory: /root/.cache/pip/wheels/40/7b/9f/2922869bef86c3354ae7034f7a3647c573ee1997c2dad0290a
Failed to build mecab-python
Installing collected packages: mecab-python
  Attempting uninstall: mecab-python
    Found existing installation: mecab-python 0.996-ko-0.9.2
    Uninstalling mecab-python-0.996-ko-0.9.2:
      Successfully uninstalled mecab-python-0.996-ko-0.9.2
    Running setup.py install for mecab-python: started
    Running setup.py install for mecab-python: finished with status 'done'
Successfully installed mecab-python-0.996-ko-0.9.2

  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.
   pip 21.3 will remove support for this functionality. You can find discussion regarding this at https://github.com/pypa/pip/issues/7555.
  WARNING: Built wheel for mecab-python is invalid: Metadata 1.2 mandates PEP 440 version, but '0.996-ko-0.9.2' is not
  DEPRECATION: mecab-python was installed using the legacy 'setup.py install' method, because a wheel could not be built for it. A possible replacement is to fix the wheel build issue reported above. You can find discussion regarding this at https://github.com/pypa/pip/issues/8368.

In [5]:
import pandas as pd

import konlpy
from konlpy.tag import Kkma, Komoran, Hannanum, Okt
from konlpy.utils import pprint
from konlpy.tag import Mecab

import nltk
from nltk import FreqDist
import numpy as np

import re
import regex

In [6]:
mecab = Mecab()
sentence = "안녕하세요 저는 용진입니다."
temp_X = mecab.morphs(sentence)
temp_X

['안녕', '하', '세요', '저', '는', '용진', '입니다', '.']

In [31]:
df1 = pd.read_csv('/content/drive/MyDrive/csv file/수원시_국민신문고_크롤링(21년10월부터_22년10월).csv')
df2 = pd.read_csv('/content/drive/MyDrive/csv file/complaint_folder/시장님 보세요_2021.csv')
df3 = pd.read_csv('/content/drive/MyDrive/csv file/complaint_folder/시장님 보세요_2022.csv')
df4 = pd.read_csv('/content/drive/MyDrive/csv file/complaint_folder/정책제안.csv')
df5 = pd.read_csv('/content/drive/MyDrive/csv file/complaint_folder/주민참여예산제안.csv')
df6 = pd.read_csv('/content/drive/MyDrive/csv file/complaint_folder/토론광장.csv')

In [71]:
print(df1.info())
print(df2.info())
print(df3.info())
print(df4.info())
print(df5.info())
print(df6.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429 entries, 0 to 1428
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1429 non-null   int64
 1   제목          1429 non-null   object
 2   내용          1429 non-null   object
 3   등록일         1429 non-null   object
 4   담당부서        1429 non-null   object
dtypes: int64(1), object(4)
memory usage: 55.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920 entries, 0 to 1919
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1920 non-null   int64
 1   time        1920 non-null   object
 2   title       1920 non-null   object
 3   content     1920 non-null   object
 4   department  1920 non-null   object
dtypes: int64(1), object(4)
memory usage: 75.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  398 non-null    int64
 1   time        398 non-null    object
 2   title       398 non-null    object
 3   content     398 non-null    object
 4   department  398 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  156 non-null    int64
 1   분야          156 non-null    object
 2   제목          156 non-null    object
 3   작성자         156 non-null    object
 4   등록일         156 non-null    object
 5   현황 및 문제점    156 non-null    object
 6   개선사항        156 non-null    object
 7   기대효과        156 non-null    object
dtypes: int64(1), object(7)
memory usage: 9.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  199 non-null    int64
 1   분야          199 non-null    object
 2   제목          199 non-null    object
 3   작성자         199 non-null    object
 4   등록일         199 non-null    object
 5   사업유형        199 non-null    object
 6   사업위치(구, 동)  199 non-null    object
 7   사업위치        199 non-null    object
 8   사업량(물량)     199 non-null    object
 9   사업내용        199 non-null    object
 10  필요성         199 non-null    object
dtypes: int64(1), object(10)
memory usage: 17.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  48 non-null     int64
 1   분야          48 non-null     object
 2   제목          47 non-null     object
 3   작성자         48 non-null     object
 4   등록일         48 non-null     object
 5   내용          48 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.4+ KB
None

In [70]:
df1_1 = df1['제목']
df1_2 = df2['title']
df1_3 = df3['title']
df1_4 = df4['제목']
df1_5 = df5['제목']
df1_6 = df6['제목']

In [50]:
df1_1

0                                   건설정책과 공식 답변 요청
1                                          제초작업 요청
2       서수원의 낙후된 교통 혁명이 될 구운역 신설 하루빨리 현실화 되길 희망합니다
3                       정자동 대유평공원 내 놀이터 그네 파손 복구요청
4                                  불법소각장 폐쇄해주세요!!!
                           ...
1424                                고등동 운동시설 확대 요청
1425                     수원 한일타운 출근시간 7770버스 배차 문제
1426                         인도는 공사중이고 시민은 차도로 내몰고
1427                               도로막고 공사하는 모습입니다
1428                            (구)도청오거리 인도 가로등 고장
Name: 제목, Length: 1429, dtype: object

In [68]:
df_21 = pd.concat([df1['제목'], df2['title'],df3['title'],df4['제목'],df6['제목'],df6['제목']])

In [69]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df_21.shape)

(1429, 5)
(1920, 5)
(398, 5)
(156, 8)
(199, 11)
(48, 6)
(3999,)

In [77]:
df_21 = df_21.to_frame(name = 'title')

In [80]:
df_21

                                           title
0                                 건설정책과 공식 답변 요청
1                                        제초작업 요청
2     서수원의 낙후된 교통 혁명이 될 구운역 신설 하루빨리 현실화 되길 희망합니다
3                     정자동 대유평공원 내 놀이터 그네 파손 복구요청
4                                불법소각장 폐쇄해주세요!!!
..                                           ...
43  제2차 수원시 중장기 보육기본계획(2022~2026) 수립에 따른 시민 의견수렴
44  스마트한 영통구 맞죠? 아리송한 행정구역 어린이집, 초등학교 배정도 난감합니다.
45                  수원시 지방자치분권 시민참여 회의 및 토론 참여 건
46               「수원특례시 시민헌장(안)」에 대한 시민의견을 듣습니다.
47         수원시 권선구 황구지천에 자전거 전용도로및 트레킹길 조성 해 주오,

[3999 rows x 1 columns]

In [81]:
mecab = Mecab()
sentence = "안녕하세요 저는 상휴입니다."
temp_X = mecab.morphs(sentence)
temp_X

['안녕', '하', '세요', '저', '는', '상', '휴', '입니다', '.']

In [82]:
df_21['title'] = df_21['title'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [91]:
df_21 = df_21['title'].astype(str)

SyntaxError: ignored

In [93]:
df_21 = df_21.to_frame(name = 'title')

In [94]:


stopwords=['뭐','으면','을','의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다''아래', '상상', '제안', '까지', '닷컴', '포털', '사이트', '천만', '오아시스', '이벤트', '접수','수원시',
 '수원', '천만상상','파일','첨부','응모', '슬로건', '공모', '공모전', '응모전', '신청', '경우',
 '때문', '정도', '사항', '해당', '겁나다', '이것', '저것', '그것', '돋움', '신명', '태명', '한컴', '돋움',
 '동안', '거기', '저기', '여기', '대부분', '누구', '무엇', '고딕', '만큼', '굴림', '감사', '건지', '텐데',
 '안녕', '이번', '걸로', '수고', '겁니까', '그간', '그건', '그때', '글쓴이', '누가', '니다', '다면', '뭔가',
 '상상오아시스', '하다', '이다', '되다', '같다', '궁', '자체', '서체', '정', '서', '이', '을', '있다', '없다',
 '체', '관련', '생각', '현재','진행', '사람', '마음', '남산', '내용', '현실', '음', '막', '김', '변', '조', '오',
 '참', '동', '지금', '주변', '대상', '부분', '요즘', '하루', '마련', '세대', '시간', '이상', '행위', '활동',
 '구분', '사실', '과정', '모습', '기간', '선정', '단지', '자신', '발생', '지역', '기대', '마련', '장소',
 '모두', '부탁', '제공', '이용', '해주', '당시', '최근', '민원', '문제', '문제점', '현황', '개선', '방안',
 '문의', '답변', '일동', '요청', '담당자', '직원', '방법', '사용', '활용', '확인', '방식', '예전', '로','하','합니다']

tokenizer = Mecab()
res = []
for sentence in df_21['title']:
  tmp = []
  tmp = tokenizer.nouns(sentence)
  
  tokenized = []
  for token in tmp:
    if not token in stopwords:
      tokenized.append(token)

  res.append(tokenized)

vocab = FreqDist(np.hstack(res))
print('단어 [교통]의 빈도수는? ', vocab['시장'], '번')

vocab = vocab.most_common(50)
vocab

단어 [교통]의 빈도수는?  111 번

[('구역', 716),
 ('팔달', 706),
 ('음식물', 562),
 ('처리', 555),
 ('기', 451),
 ('공사', 318),
 ('아이파크', 299),
 ('쓰레기', 269),
 ('센트럴', 224),
 ('자이', 221),
 ('학군', 203),
 ('공원', 198),
 ('소음', 177),
 ('영통', 177),
 ('제거', 176),
 ('변경', 167),
 ('설치', 165),
 ('엘클래스', 147),
 ('건', 142),
 ('버스', 139),
 ('중단', 127),
 ('시설', 126),
 ('사업', 122),
 ('균형발전', 113),
 ('시장', 111),
 ('도모', 111),
 ('중학교', 106),
 ('개발', 101),
 ('도로', 99),
 ('망포', 94),
 ('푸르지오', 92),
 ('아파트', 90),
 ('주차', 89),
 ('앞', 88),
 ('허가', 88),
 ('요구', 87),
 ('신설', 76),
 ('복합', 76),
 ('불법', 74),
 ('소각장', 72),
 ('지구', 72),
 ('보수', 71),
 ('현대산업개발', 71),
 ('심사', 70),
 ('착공', 70),
 ('시민', 68),
 ('힐', 68),
 ('스테이트', 68),
 ('권선', 67),
 ('구내', 67)]

In [95]:
df1 = pd.DataFrame(vocab, columns = ['complaint_counts', 'num'])

In [96]:
df1

   complaint_counts  num
0                구역  716
1                팔달  706
2               음식물  562
3                처리  555
4                 기  451
5                공사  318
6              아이파크  299
7               쓰레기  269
8               센트럴  224
9                자이  221
10               학군  203
11               공원  198
12               소음  177
13               영통  177
14               제거  176
15               변경  167
16               설치  165
17             엘클래스  147
18                건  142
19               버스  139
20               중단  127
21               시설  126
22               사업  122
23             균형발전  113
24               시장  111
25               도모  111
26              중학교  106
27               개발  101
28               도로   99
29               망포   94
30             푸르지오   92
31              아파트   90
32               주차   89
33                앞   88
34               허가   88
35               요구   87
36               신설   76
37               복합   76
38               불법   74
39              소각장   72
40               지구   72
41               보수   71
42           현대산업개발   71
43               심사   70
44               착공   70
45               시민   68
46                힐   68
47             스테이트   68
48               권선   67
49               구내   67

In [97]:
df1 = df1[df1['complaint_counts'].map(lambda x: len(str(x)) >= 2)]

In [98]:
df1.to_csv('mecab.csv',encoding = 'utf-8-sig')